.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-headline {
    text-align: center;
    color: rgb(125, 125, 212);
}

.title-text {
    margin-left: 250px;
    width: 60%;
}


.product-img-container img {
    width: 750px;
    margin-right: 180px;
    margin-top: 30px;
}


.reviews {
    text-align: center;

}

.review-container-title {
    text-align: center;
    margin-top: 30px;
}

.btn-container {
    text-align: center;
    margin-bottom: 20px;
}

@media screen and (max-width:568px) {


    .title-container {
        display: block;
        margin-top: 30px;
    }

    .title-text {
        margin-left: 0px;
        width: 100%;
    }

    .product-img-container img {
        width: 360px;
    }


}