.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-headline {
    text-align: center;
    color: rgb(125, 125, 212);
}

.title-text {
    margin-left: 250px;
    width: 60%;
}



.product-img-container img {
    width: 750px;
    margin-right: 180px;
    margin-top: 30px;
}

.reviews {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    margin-top: 30px;
}